.container_48 {
    margin-left: auto;
    margin-right: auto;
    width: 1180px
}

#wrap {
    font-size: 12px;
    font-family: "Verdana","Microsoft JhengHei","微軟正黑體",Geneva,Tahoma,sans-serif;
    color: #706e6c;
    margin: 0 auto;
    padding: 0 0;
}

.on_sale li, .sale_category li, .sale_news li {
    color: #4d494a;
}

#sidenav {
    height: 100%;
    width: 165px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24, .grid_25, .grid_26, .grid_27, .grid_28, .grid_29, .grid_30, .grid_31, .grid_32, .grid_33, .grid_34, .grid_35, .grid_36, .grid_37, .grid_38, .grid_39, .grid_40, .grid_41, .grid_42, .grid_43, .grid_44, .grid_45, .grid_46, .grid_47, .grid_48 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.container_48 .grid_39 {
    width: 1010px;
}

.omega {
    margin-right: 0;
}

.alpha {
    margin-left: 0;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.sale_category {
    padding-inline-start: 20px;
}

.product_info {
    height: 100% !important;
    margin: 20px 0 10px 0;
    color: #666;
    width: 620px;
}

    .product_info .product_image {
        float: left;
        margin-right: 30px;
        margin-left: 0;
        width: 425px;
        height: 500px;
        padding-bottom: 20px;
        text-align: center
    }

.product_image #productImg {
    width: auto;
    height: auto
}

.clearfloat {
    overflow: hidden;
}

.product_info .product_title {
    position: relative;
    min-height: 99px;
}

.product_info #product_name_area {
    float: left;
    width: 300px;
    position: absolute;
}

.product_info #product_price_area {
    float: right;
    text-align: right;
}

.hidden {
    display: none;
}

.price {
    font-size: 60px;
    line-height: 1;
    color: #ea0000;
}

#product_price_area #currencyIdentifier {
    vertical-align: top;
    font-size: 14px;
    margin-right: 5px;
    color: #ea0000;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;
}

.color {
    margin: 10px 0 0;
    border-top: 1px solid #eee;
    padding-top: 30px;
    min-height: 45px;
}

    .color img {
        margin-right: 10px;
        margin-bottom: 15px;
        width: 24px;
        height: 24px;
        padding: 3px;
    }

a {
    color: #83521e;
    text-decoration: none;
    outline: none;
}

    a:hover {
        text-decoration: none;
    }

#sidenav a:hover {
    text-decoration: underline;
}

.color, .size, .addcart, .clearfloat, .activity_area {
    width: 440px;
    float: left;
}

.size {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    min-height: 86px;
}

.picksize {
    text-align: center;
    overflow-wrap: break-word;
    padding-top: 5px;
    width: 155px;
    margin: 5px auto 0;
}

.size .picksize {
    text-align: left;
    overflow-wrap: break-word;
    margin: 0 auto;
    display: inline-block;
    min-height: 46px;
    width: auto;
    padding: 0;
}

.picksize a {
    text-decoration: none;
    overflow-wrap: normal;
    width: auto;
    min-width: 23px;
    padding: 7px 0;
    display: inline-block;
    background-color: #eee;
    color: #575757;
    -webkit-text-size-adjust: none;
    font-size: 12px;
    font-family: Arial;
    margin: 16px 16px 0 0;
    text-align: center;
}

    .picksize a.current {
        text-decoration: none;
        border: 1px solid #333;
    }

.size .picksize a {
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    padding: 0 15px;
}

.addcart {
    margin-bottom: 20px;
}

.v-middle {
    vertical-align: middle;
}

.addcart a, .addcart a:hover {
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 30px;
    font-family: "Microsoft JhengHei","微軟正黑體";
}

.addcart .minus, .addcart .plus {
    display: inline-block;
    height: 30px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.addcart .minus {
    background: url(/images/minus_plus.gif) no-repeat 0 0;
}

#buyCount {
    -webkit-appearance: none;
    border-radius: 0;
    line-height: 2.5;
    width: 30px;
    height: 28px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
}

.addcart .plus {
    background: url(/images/minus_plus.gif) no-repeat 0 -60px;
}

.addcart span {
    margin-right: 26px;
}

.addcart .btn_addcart {
    background-color: #8B4513;
    width: 185px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}

.page-product-content {
    min-height: 30rem;
    display: flex;
}

.page-product-content-left {
    flex: 1;
    min-width: 0;
}

.page-product-content-right {
    width: 14.5rem;
    margin-left: .9375rem;
}

.page-product-content-block {
    padding: .9375rem .9375rem 0;
}

.block-title {
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    padding: .875rem;
    text-transform: capitalize;
}

.block-content {
    margin: 1.875rem .9375rem .9375rem;
}

.block-content-li {
    margin: 1.875rem .9375rem .9375rem;
}

.block-label {
    color: rgba(0,0,0,.4);
    font-size: .875rem;
    width: 6.25rem;
    margin-right: 2.5rem;
}

.dflex {
    display: flex;
}

.prod-disc {
    white-space: pre-line;
    color: rgba(0,0,0,.8);
    font-size: .875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.875rem;
}

.seller-info {
    width: 200px;
    background-color: #F5EBE0;
    float: left;
}

.selectedBorder {
    border: 1px solid rgb(85, 85, 85);
}

#comment-list table td {
    border-bottom: 1px solid #e9e9e9;
}

#comment-list .comment-item .comment-left {
    padding: 20px 60px 20px 0;
    width: 250px;
    text-align: right;
}

#comment-list .comment-item .comment-right {
    padding: 20px 110px 20px 0;
    width: 550px;
}

    #comment-list .comment-item .comment-right .comment-main, #comment-list .comment-item .comment-right .comment-response-main {
        position: relative;
    }

        #comment-list .comment-item .comment-right .comment-main p {
            line-height: 20px;
        }

        #comment-list .comment-item .comment-right .comment-main .comment-header, #comment-list .comment-item .comment-right .comment-main .comment-footer {
            color: #999;
        }

#comment-list {
    width: 800px;
    float: left;
}

.comment-title {
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    padding: .875rem;
}
