
@{
    ViewBag.Title = "test";
}
@{
    Layout = null;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
    img {
        /* width: 100%;*/
    }

    .test {
        background-color: #EDEDE9;
    }

    text {
        size: 8px;
    }


    .textSize {
        text-align: center;
    }
</style>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="p-10 bg-surface-secondary" id="spuItem">
    <div class="container">
        <div class="card">
            <div class="card-header ">
                <h6 class="textSize">我的庫存</h6>
            </div>
            <div class="table-responsive test">
                <table class="table table-hover table-nowrap">
                    <thead style="background-color: #D5BDAF;">
                        <tr>
                            <th scope="col" class="col-3">圖片</th>
                            <th scope="col" class="col-4">商品名稱</th>
                            <th scope="col" class="col-1">顏色</th>
                            <th scope="col" class="col-1">尺寸</th>
                            <th scope="col" class="col-1">庫存數量</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @*呼叫 loadData()傳入*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@*呼叫 sku更新頁面*@

<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateItemForm" novalidate>
                    <label for="Id" style="display:none">skuid</label>
                    <input type="text" name="id" id="id" class="form-control" style="display:none" />

                    <label for="spuId" style="display:none">spuid</label>
                    <input type="text" name="spuId" id="spuId" class="form-control" style="display:none" />

                    <label for="skuImg" style="display:none">skuImg</label>
                    <input type="text" name="skuImg" id="skuImg" class="form-control" style="display:none" />

                    <label for="skuColor">顏色</label>
                    <input type="text" name="skuColor" id="skuColor" class="form-control" />

                    <label for="skuSize">尺寸</label>
                    <input type="text" name="skuSize" id="skuSize" class="form-control" />

                    <label for="skuStock">庫存</label>
                    <input type="text" name="skuStock" id="skuStock" class="form-control" />


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updateSkuBtn" onclick="Update()" data-dismiss="modal">完成</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>

                <button type="button" class="btn btn-primary" id="addSkuBtn" onclick=" AddSku()" data-dismiss="modal" style="display:none">test完成</button>
            </div>
        </div>
    </div>
</div>

@*呼叫 spu更新頁面*@

<div class="modal fade" id="spuPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateItemForm" novalidate>
                    <div>
                        <label for="Id" style="display:none">spuid</label>
                        <input type="text" name="id" id="id" class="form-control" style="display:none" />
                    </div>
                    <div>
                        <label for="memberId" style="display:none">memberId</label>
                        <input type="text" name="memberId" id="memberId" class="form-control" style="display:none" />
                    </div>
                    <div>
                        <label for="spuName">名稱</label>
                        <input type="text" name="spuName" id="spuName" class="form-control" />
                    </div>

                    <div>
                        <label for="spuInfo">商品敘述</label>
                        <input type="text" name="spuInfo" id="spuInfo" class="form-control" />
                    </div>
                    <div>
                        <label for="spuPrice">價格</label>
                        <input type="text" name="spuPrice" id="spuPrice" class="form-control" />
                    </div>
                    <div>
                        <label for="catalogAId">catalogAId</label>
                        <select class="form-control itemselect" name="catalogAId" id="catalogAId">
                            <option name="catalogAId" value="1" selected>WOMAN</option>
                            <option name="catalogAId" value="2">MEN</option>
                            <option name="catalogAId" value="3">KIDS</option>
                            <option name="catalogAId" value="4">BABYS</option>
                        </select>
                    </div>
                    <div>
                        <label for="catalogBId">catalogBId</label>
                        <select class="form-control itemselect" name="catalogBId" id="catalogBId">
                            <option name="catalogBId" value="1" selected>長袖</option>
                            <option name="catalogBId" value="2">短袖</option>
                            <option name="catalogBId" value="3">背心/小可愛</option>
                            <option name="catalogBId" value="4">襯衫</option>
                            <option name="catalogBId" value="5">洋裝</option>
                            <option name="catalogBId" value="6">外套</option>
                            <option name="catalogBId" value="7">長褲</option>
                            <option name="catalogBId" value="8">短褲</option>
                            <option name="catalogBId" value="9">裙子</option>
                            <option name="catalogBId" value="10">內褲</option>
                        </select>
                    </div>
                    <div>
                        <label for="spuImg1">圖片1</label>
                        @*<input type="text" name="spuImg1" id="spuImg1"/>*@
                        @*<input type="file" id="img1" />*@
                        <span id="testImg"></span>
                        @*<img id="spuImg1"/>*@
                    </div>

                    <div>
                        <label for="spuImg2">圖片2</label>
                        <input type="text" name="spuImg2" id="spuImg2" />
                        <input type="file" id="img2" />
                        <img id="demo2" />
                    </div>
                    <div>
                        <label for="spuImg3">圖片3</label>
                        <input type="text" name="spuImg3" id="spuImg3" />
                        <input type="file" id="img3" />
                        <img id="demo3" />
                    </div>
                    <div>
                        <label for="spuImg4">圖片4</label>
                        <input type="text" name="spuImg4" id="spuImg4" />
                        <input type="file" id="img4" />
                        <img id="demo4" />
                    </div>
                    <div>
                        <label for="spuImg5">圖片5</label>
                        <input type="text" name="spuImg5" id="spuImg5" />
                        <input type="file" id="img5" />
                        <img id="demo5" />
                    </div>
                    <div>
                        <label for="spuShow">上架狀態</label>
                        <input type="text" name="spuShow" id="spuShow" class="form-control" />
                    </div>

                    @*<div>
                            <label for="spuCreatedTime">spuCreatedTime</label>
                            <input type="text" name="spuCreatedTime" id="spuCreatedTime" class="form-control" />
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="spuUpdate()" data-dismiss="modal">完成</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="spudelete()">刪除</button>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
@*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
@*@section scripts{*@
<script>

    $(document).ready(function () {
        loadData();
    });

    //$(function () {
    //    loadData();

    //});

    function loadData() {
        var tbody = $("#tbody");
        $.ajax({
            url: "/Member/SkuList",
            type: "GET",
           /* method: "GET",*/
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (itemList) {

                $(tbody).empty();
                $(itemList).each(function (index, item) {
                    var img = '@Url.Content("~/images/")'+item.skuImg;
                    $(tbody).append(`<tr><td data-label="spuId" name="spuId" style="display:none">${item.spuId}</td> <td data-label="skuId" name="skuId" style="display:none">${item.skuId}</td>` +
                        `<td data-label="skuImg" name="skuImg"><img src="`+img+`" width="250" height="180"></td> <td data-label="spuName" name="spuName">${item.spuName}</td> <td data-label="skuColor" name="skuColor" class="skuColor">${item.skuColor}</td>` +
                        `<td data-label="skuSize" name="skuSize" class="skuSize">${item.skuSize}</td><td data-label="skuStock" name="skuStock" class="skuStock">${item.skuStock}</td><td><a href="#" onclick="return openAddPage(${item.skuId})" data-toggle="modal" data-target="#centralModalSm">新增</a></td><td><a href="#" onclick="return getById(${item.skuId})" data-toggle="modal" data-target="#centralModalSm">編輯</a></td><td><a href="#" onclick="getBySpuId(${item.spuId})" name="${item.skuId}" data-toggle="modal" data-target="#spuPage">詳細頁面</a></td></tr>`)
                });
            },
            error: function (err) { confirm("失敗"); }
        });
    };


    function getById(id) {



        $.ajax({
            url: "/Member/getByid/" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                $('#id').val(result.id);
                $('#spuId').val(result.spuId);
                $('#skuImg').val(result.skuImg);
                $('#skuColor').val(result.skuColor);
                $('#skuSize').val(result.skuSize);
                $('#skuStock').val(result.skuStock);

            },
            error: function (error) {
                alert(error.responseText);
            }
        });
        return false;
    }
    function Update() {
        var objItem = {
            id: $('#id').val(),
            spuId: $('#spuId').val(),
            skuImg: $('#skuImg').val(),
            skuColor: $('#skuColor').val(),
            skuSize: $('#skuSize').val(),
            skuStock: $('#skuStock').val()
        };
        $.ajax({
            url: "/Member/SkuEdit",
            data: JSON.stringify(objItem),
            type: "POST",
            dataType:"json",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                alert('存檔成功');
                loadData();
            },
            error: function (error) {

                alert(error.responseText);
            }
        })
    }


    function openAddPage(id) {
        alert(id);
        $.ajax({
            url: "/Member/getByid/" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {


                $('#spuId').val(result.spuId);
                $('#skuImg').val(result.skuImg);
                $("#addSkuBtn").css('display', 'block');
                $("#updateSkuBtn").hide();
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
        return false;


    }

    function AddSku() {
       /* alert(spuId);*/
        var objSku = {
            id: $('#id').val(),
            spuId: $('#spuId').val(),
            skuImg: $('#skuImg').val(),
            skuColor: $('#skuColor').val(),
            skuSize: $('#skuSize').val(),
            skuStock: $('#skuStock').val()
        };
        $.ajax({
            url: "/Member/Addsku",
            data: JSON.stringify(objSku),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function () {
                alert("新增成功");
                loadData();

            },
            error: function (error) {

                alert(error.responseText);
            }
        })
    }

    var count = 0;
    let img;
    var sku;
    function getBySpuId(id,skuid) {
       /* sku = skuid;*/
       /* let pk = $(this).attr("name");*/
        /*alert(sku);*/
        $.ajax({
            url: "/Member/getSpuId/" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#id').val(result.id);
                $('#spuName').val(result.spuName);
                $('#memberId').val(result.memberId);
                $('#spuInfo').val(result.spuInfo);
                $('#spuPrice').val(result.spuPrice);
                $('#catalogAId').val(result.catalogAId);
                $('#catalogBId').val(result.catalogBId);
                $('#spuImg1').val(result.spuImg1);
                $('#spuImg2').val(result.spuImg2);
                $('#spuImg3').val(result.spuImg3);
                $('#spuImg4').val(result.spuImg4);
                $('#spuImg5').val(result.spuImg5);
                $('#spuShow').val(result.spuShow);
                /* $('#spuCreatedTime').val(result.spuCreatedTime);*/
                count++;

                if (count >= 1) {
                    img = "";
                    img ='@Url.Content("~/Images/")'+result.spuImg1;
                    document.getElementById("testImg").innerHTML='<img src="' + img + '" width="250" height="180">';
                }


            },

        })
    }
    function spuUpdate() {

        var objSpu = {
            id: $('#id').val(),
            spuName: $('#spuName').val(),
            memberId: $('#memberId').val(),
            spuInfo: $('#spuInfo').val(),
            spuPrice: $('#spuPrice').val(),
            catalogAId: $('#catalogAId').val(),
            catalogBId: $('#catalogBId').val(),
            spuImg1: $('#spuImg1').val(),
            spuImg2: $('#spuImg2').val(),
            spuImg3: $('#spuImg3').val(),
            spuImg4: $('#spuImg4').val(),
            spuImg5: $('#spuImg5').val(),
            spuShow: $('#spuShow').val(),
            /*spuCreatedTime: $('#spuCreatedTime').val()*/
        };
       /* var testP = eval('(' + '{"spu":"' + objSpu + '","skuId":"' + sku + '"}' + ')');*/

        $.ajax({
            url: "/Member/spuEdit",
            data: JSON.stringify(objSpu),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                alert('存檔成功');
                loadData();

            },
            error: function (error) {

                alert(error.responseText);
            }
        })

    }
    function spudelete() {
        var ans = confirm("是否確定刪除?");
        if (ans) {
            $.ajax({
                url: "/Member/itemDelete/"+spuid,
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    alert('刪除成功');
                    loadData();

                },
                error: function (errorMsg) {
                    alert(errorMsg.responseText);
                }
            })
        }
    }
</script>
