@model IEnumerable<shop123.Models.catalogA>


@foreach (var item in Model)
{
    <div class="col-12 col-sm-2 text-center ">
        <a href="@Html.Raw(@Url.Action("categoryPage", "Home", new {catalogAId=@item.id,catalogBId=0,page=1,sort="no"})) " class="cA text-dark text-decoration-none">@item.catalogAName</a>
    </div>
}

