@model IEnumerable<string>

@{
        //把找到對應該顏色的所有尺寸,放入顯示的區域
        foreach (var item in Model)
        {
        <a id="" href="" class="" style="width:40px;" onclick="PickSize($(this));return false;">@item.ToString()</a>
        }
}
