@model IEnumerable<shop123.Models.ordersDetail>


@{
    ViewBag.Title = "ShoppingCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div id="div1">
    @Html.Action("ShoppingCarPartial", "ShoppingCart")
</div>


<script>

    //function minus() {
    //    $('.count').val(parseInt($('.count').val()) - 1);
    //    if ($('.count').val() == 0) {
    //        $('.count').val(1);
    //    }
    //}

    //function plus() {
    //    $('.count').val(parseInt($('.count').val()) +1);
    //}

    function skuchecked(skuid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("skuchecked", "ShoppingCart")',
            data: { skuid: skuid },
            success: function (data) {
                $('#div1').html(data);
            }
        })

    }

     
   


</script>



